.needs-list-container {
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px; 
    margin-bottom: 70px; 
}

.need-item {
    background-color: #89bbf5;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #d7d7d7;
}

input[type="number"] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #fab855;
    padding: 10px;
}

.need-details p, .need-details span {
    margin: 10px 0;
    font-weight: bold;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 15px 0;
    height: 20px;
}

.progress {
    background-color: #4caf50;
    width: 0%;
    height: 100%;
    position: absolute;
}

.offer-button, .submit-offer {
    background-color: #fab855;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.submit-offer {
    width: 53%;
}
