.container {
  width: 90%; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.button {
  background-color: #89bbf5;
  border: none;
  padding: 15px;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.offer-history {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding-bottom: 70px; 
  margin-bottom: 70px; 
}

.offer-history-item {
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d7d7d7;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0;
}

.text-wrapper {
  flex-grow: 1;
  padding: 20px 20px 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.notification-text {
  text-align: left;
  margin: 10px 10px;
  padding-left: 20px;
}

.form-slide-down {
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
  width: 90%;
  max-width: 500px;
  z-index: 10;
  background-color: #89bbf5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 20px; 
  border-radius: 10px;
  margin-top: 20px; 
  margin-bottom: 20px;
}

.form-slide-down.active {
  max-height: 1000px; 
  padding: 20px;
}

.form-group label {
  display: block;
  margin: 10px 0;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select,
.form-group button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  background-color: #fab855;
  color: black;
  border: none;
}

.greyed-out {
  opacity: 0.5; 
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #fab855;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeebeb;
  border: none;
  padding: 0 10px;
  height: 100%;
  border-radius: 0 5px 5px 0;
  margin-left: auto;
}

.delete-btn .text {
  color: black;
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
}

.delete-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.delete-btn svg {
  fill: black;
  width: 15px;
}

.delete-btn:hover {
  background: #9a9a9a;
}

.delete-btn:hover .text {
  color: #fff;
}

.delete-btn:active .icon svg {
  transform: scale(0.9);
}